/*
Colors found in: https://creativebooster.net/
*/
:root {
    --black: #000000;
    --corn: #FBEC5D;
    --cream: #FFFFCC;
    --golden-brown: #996515;
    --ink-black: #212122;
    --light-grey: #D3D3D3;
    --sage-grey: #B5BDA5;
    --white: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: var(--cream);
}

/* Header Block: */
header {
    align-items: center;
    background-color: var(--ink-black);
    border-bottom: 1px solid var(--white);
    display: flex;
    justify-content: space-between;
    padding: 25px 10%;
}

.header__logo .fa-forumbee {
    color: var(--corn);
    font-size: 45px;
}

.header__login .fa-circle-user {
    color: var(--corn);
    cursor: pointer;
    font-size: 20px;
}

.header__login .fa-circle-user:hover {
    opacity: 0.8;
}

/* Nav List Block: */
.nav-list {
    list-style: none;
}

.nav-list__item {
    display: inline-block;
    padding: 0 20px;
}

.nav-list__link {
    color: var(--corn);
    font-weight: bold;
    transition: 0.2s;
}

.nav-list__link:hover {
    color: var(--golden-brown);
}

.nav-list__item--dropdown {
    color: var(--corn);
    text-decoration: underline;
}

section {
    background-color: var(--light-grey);
    border-bottom: 1px solid var(--white);
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

footer {
    background-color: var(--sage-grey);
    width: 100%;
}

footer :is(a, h2, p) {
    color: var(--ink-black);
}

.div-footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

.sign-up {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-group {
    align-items: center;
    background-color: var(--cream);
    border-radius: 4px;
    display: flex;
}

.input-group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

.input-group button {
    background-color: var(--cream);
    border: none;
    border-radius: 0px 4px 4px 0px;
    color: var(--ink-black);
    cursor: pointer;
    font-size: 1.125rem;
    height: 100%;
    padding: 0 1rem;
}

.div-social-icons {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

.easy-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.easy-links a {
    transition: 0.2s;
}

.easy-links a:hover {
    opacity: 0.8;
}

.payment {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

.div-promo-bar a {
    color: var(--ink-black);
    font-weight: bold;
    transition: 0.2s;
}

.div-promo-bar a:hover {
    color: var(--black);
}





.fa-brands.fa-instagram, .fa-brands.fa-facebook, .fa-brands.fa-x-twitter {
    color: var(--ink-black);
    font-size: 20px;
}

.fa-brands.fa-instagram:hover, .fa-brands.fa-facebook:hover, .fa-brands.fa-x-twitter:hover {
    opacity: 0.8;
}

.fa-brands.fa-amazon-pay, .fa-brands.fa-apple-pay, .fa-brands.fa-google-pay {
    color: var(--ink-black);
    font-size: 25px;
}




