:root {
    --black: #000000;
    --corn: #FBEC5D;
    --cream: #FFFFCC;
    --golden-brown: #996515;
    --ink-black: #212122;
    --light-grey: #D3D3D3;
    --white: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: var(--cream);
}

header {
    align-items: center;
    background-color: var(--ink-black);
    border-bottom: 1px solid var(--white);
    display: flex;
    justify-content: space-between;
    padding: 25px 10%;
}

section {
    background-color: var(--light-grey);
    border-bottom: 1px solid var(--white);
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

footer {
    background-color: red;
}

.div-promo-bar a {
    color: var(--ink-black);
    font-weight: bold;
    transition: 0.2s;
}

.div-promo-bar a:hover {
    color: var(--black);
}

.fa-brands.fa-forumbee {
    color: var(--corn);
    font-size: 45px;
}

.fa-regular.fa-circle-user {
    color: var(--corn);
    cursor: pointer;
    font-size: 20px;
}

nav {
    font-weight: bold;
}

nav ul li a {
    color: var(--corn);
}

.ul-links {
    list-style: none;
}

.ul-links li {
    display: inline-block;
    height: 100%;
    padding: 0 20px;
}

.ul-links a {
    transition: 0.2s;
}

.ul-links a:hover {
    color: var(--golden-brown);
}

.dropdown-menu {
    color: var(--corn);
    text-decoration: underline;
}